* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2ecc71;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.logout {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.logout:hover {
  background-color: #219150;
}

main, .form-section {
  padding: 2rem;
  display: none;
}

main.active, .form-section.active {
  display: block;
}


.container {
  max-width: 900px;
  margin: auto;
  background-color: #fff;
}


.container h2 {
  margin-bottom: 1.5rem;
}

.search-input {
  padding: 0.5rem 0.50rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}


.controls {
  display: flex;
  gap: 13rem; 
  align-items: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap; 
}

.dropdown label {
  margin-right: 0.5rem;
  font-weight: bold;
}

#tipo {
  padding: 0.4rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.cadastrar {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.cadastrar:hover {
  background-color: #27ae60;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.8rem 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
  color: #444;
}

td i {
  color: #333;
}

.form-container {
  max-width: 700px;
  margin: auto;
  background-color: #fff;
}

.form-container h2 {
  margin-bottom: 1rem;
}

.form-row {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.form-group input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn {
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn.back {
  background-color: #ccc;
  color: #333;
}

.btn.save {
  background-color: #2ecc71;
  color: white;
}

.btn.save:hover {
  background-color: #27ae60;
}
