* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f9f9f9;
  color: #333;
}

.topbar{
  background: #18B95A;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
.menu-logo{
  display: flex;
  align-items: center;
  gap: 40px;
}


.logout {
  background: #338153;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  padding: 30px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: center;
}

.buscar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.buscar input {
  height: 30px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-buscar {
  height: 30px;
  padding: 6px 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.btn-cadastrar {
  background: #27ae60;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-cadastrar a{
  text-decoration: none;
  color: white;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabela th,
.tabela td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.btn-edit {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 20
}
